<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
   <p>
     <h1>You're now following "<%= @post.title %>"</h1>
       <%= link_to "View Newly Created Post", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
 </html>
